.vscode/**
.vscode-test/**
out/test/**
src/**
test/**
.gitignore
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/*.ts
.prettierrc
screenshot.gif
!media/**
ext-src/**
public/**
.editorconfig
.eslintignore
.prettierignore
.prettierrc
tsconfig.extension.json
README.md
package-lock.json
CONTRIBUTING.md
types/**
docs/**
.husky/**
.github/**
node_modules/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.vscode-test.*
scripts/**
nodemon.json
commitlint.config.js
lint-staged.config.js
coverage
jest.config.ts