.vscode/**
.vscode-test/**
out/test/**
src/**
test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierrc
screenshot.gif
!media/**
ext-src/**
scripts/**
public/**
.editorconfig
.eslintignore
.prettierignore
.prettierrc
tsconfig.json
tsconfig.extension.json
README.md
package-lock.json
CONTRIBUTING.md
.gitignore
types/**
docs/**
.husky/**
.vscode/**
.github/**
node_modules/**
