.small-button {
  width: 40px;
  height: 25px;
}

.med-button {
  width: 80px;
  height: 25px;
}

.lg-button {
  width: 150px;
  height: 25px;
}

.button-group {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  gap: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-around;
  margin-left: 60%;
  flex-direction: row;
  padding-bottom: var(--input-padding-vertical);
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 95%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

.grid-container-button-group {
  display: grid;
  grid-template-columns: auto auto auto;
}
