.small-button {
  width: 40px;
  height: 25px;
}

.med-button {
  width: 80px;
  height: 25px;
}

.button-group {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-around;
  margin-left: 70%;
  flex-direction: row;
  padding-bottom: var(--input-padding-vertical);
}
